<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Lista</title>
  </head>
  <body>
    <h1>Usuários</h1>
    
    
    <table class="table" table-striped">
      <thead class="thead-dark">
        <tr>
          <th style="width: 20%;">Nome</th>
          <th style="width: 20%;">Sobrenome</th>
          <th style="width: 20%;">E-mail</th>
          <th style="width: 20%;">Telefone</th>
          <th style="width: 20%;">CPF</th>
          <th style="width: 20%;">Listar Endereço</th>
        </tr>
      </thead>
      <tbody>
      <% for(item of lista){ %>
        <tr>
          <td><%= item.nome %></td>
          <td><%= item.sobrenome %></td>
          <td><%= item.email %></td>
          <td><%= item.telefone %></td>
          <td><%= item.cpf %></td>
          <td><a href="/listar/endereco item.id_usuario">ver mais</a></td>
      <% } %>
     </tbody>
    </table>
    <a href="/">Voltar</a>

 </body>
</html>
